{% extends 'dashboard.html' %}
{% block content %}
      
        <form action="{{url_for('create_supplier')}}" method="post">
              {%with messages=get_flashed_messages()%}
                {% if messages %}
                {% for message in messages %}
                    <center>
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </center>
                {% endfor %}
                {% endif %}
                {%endwith%} 
        
         <div class="pform">
              
             <div class="first">
            
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" required placeholder="Name">
            <label for="type">Type</label>
            
            <select name="stype" id="type" class="form-control" required>
                <option >Foreign or Local</option>
                <option value="Local">Local</option>
                <option value="Foreign">Foreign</option>
            </select>

            <label for="email">Email</label>
            <input type="text" name="email" id="email" required class="form-control" placeholder="Email">
            
            <label for="contact">Phone Contact</label>
            <input type="text" name="contact" id="contact" required class="form-control" placeholder="Phone Contact">
            
           <p>Address</p>
            <textarea name="address" id="address" cols="30" rows="10"></textarea>
        
            
          
             </div>
             <!-- flexed form -->
             <div class="second">
                    <label for="nationality">Nationality</label>
                    <select name="nationality" id="type" class="form-control" required>
                            <option >Choose A coutry</option>
                            {% for country in countries %}
                                <option value="{{country}}">{{country}}</option>
                            {% endfor %}
                    </select>
              
               <br><br>
               
               <center><input type="submit" value="Save" class=" mybtn "></center>
                </div>
             </div>
         </div>
             
        
    
        </form>
{% endblock content %}