<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

    <title>Document</title>
</head>
<body>
    <h3>Shop Admin</h3>
    <div class="main">
        <section class="menu-list">
          <ul class="list-group">
              <li class="list-group-item"><a href="">Products</a></li>
              <li class="list-group-item"><a href="">Products</a></li>
              <li class="list-group-item"><a href="">Products</a></li>
              <li class="list-group-item"><a href="">Products</a></li>
              <li class="list-group-item"><a href="">Products</a></li>
          </ul>
        </section>
        <section class="events">

        </section>
    </div>
</body>
</html>