{% extends "dashboard.html" %}
{% block content %}
	
	   
<form action="{{url_for('create_category')}}" method="post">
	{%with messages=get_flashed_messages()%}
	{% if messages %}
	{% for message in messages %}
		<center>
			<div class="alert alert-success">
				{{ message }}
			</div>
		</center>
	{% endfor %}
	{% endif %}
	{%endwith%} 
   
<div class="pform">
  
 <div class="first">
 <h3>Create A  Product Category</h3>


<br>    
<label for="name">Category Name<s/label>
<input type="text" name="name" id="name" class="form-control" required placeholder="Category Name">
<label for="type">Type</label>

<label for="cost_price">With Effect From</label>
<input type="number" name="cost_price" id="cost_price" required class="form-control" placeholder="{{datetime.utcnow()}}" disabled>
<br><br>
<input type="submit" value="Create Category">


 </div>
 <!-- flexed form -->

	</div>
 </div>
</div>


 


</form>
{% endblock content %}

