<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/ css/font-awesome.min.css">
    {% if title %}
    <title>Shop |{{ title }}</title>
    {% else %}
    <title>Shop</title>
    {% endif %}
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{url_for('index')}}"><h1>Shop</h1></a>
            <a href="{{url_for('login')}}">Login</a>
        </div>
        <nav>
            <a href="{{url_for('buy_products')}}">Visit The Shop</a>
            
        </nav>
    </header>
    <div class="main-body">
      {% block body %}
      
      {% endblock body %}
    </div>
    <footer>
        <center>
            <h3>Shop &copy; 2019</h3>
        </center>
    </footer>
</body>
</html>