<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Convenient Shop Management System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <header>
        <h1>Shop</h1>
        <nav>
            <a href="">Create An Account</a>
            <a href="">Sign In</a>
        </nav>
    </header>
    
    {% block body %}
        
    {% endblock body %}
    <footer>
        <center>
            <p>Shop &copy; 2020</p>
        </center>
    </footer>
</body>
</html>