{% extends 'dashboard.html' %}
{% block content %}


<div class="search">
     <h1>Manage Product Info</h1>   
     <form action="{{url_for('manage_products')}}" method="post">
        <input type="text" name="search" id="search" class="form-control" placeholder="Search A Product By Name">
        <br>
        <input type="submit" value="Search" class="mybtn btn">
     </form>
     <br>

     <h3>Search results</h3>
     
        <table class="table">
                <thead>
                  <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Selling Price</th>
                    <th>Mark Up(%)</th>
                    <th>Stock</th>
                  </tr> 
                </thead>
        {% if results %}
        {% for res in results %}
        <tbody>
                <td>pdt{{ res.id }}</td>
                <td>{{ res.name }}</td>
                <td>{{res.selling_price}}</td>
                <td>{{res.markup}}%</td>
                <td>{{res.stock}}</td>
                <td><a href="" class="btn mybtn">Manage</a></td>
                
        </tbody>
       {% endfor %}
        </table>
        <br><br>
        {%else%}
        <b><p>Please Use A correct Name</p></b>
       {% endif %}
     
</div>
{% endblock content %}