{% extends 'layout.html' %}
{% block body %}
{%with messages=get_flashed_messages()%}
{% if messages %}
{% for message in messages %}
    <div class="flash">
        <center>
            {{ message }}
        </center>
    </div>
{% endfor %}
{% endif %}
{%endwith%}
<div class="form">
    <h3>Create An Account</h3>
    <form action="{{url_for('sign_up')}}" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control" placeholder="Email">
        <label for="contact">Contact</label>
        <input type="tel" name="contact" id="contact" placeholder="Telephone Contact" class="form-control">
        <label for="location">Location</label>
        <input type="text" name="location" id="location" class="form-control" placeholder="Location">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" id="confirm" class="form-control" placeholder="Confirm Password">
        <br>
        <input type="submit" value="Create Account" class=" mybtn ">

    </form>
<br>
    <p>Already Have an Account? <a href="{{url_for('login')}}" >Login</a></p>
</div>
{% endblock body %}