*{
    font-family: 'Montserrat Alternates',monospace;
}
.dashboard-body{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}
body{
background-image:url('images/Symbolics-1.jpg');
}
.dashboard-header{
    height: 100px;
}
.dashboard{
    min-height:100vh;
    background-color: rgba(255, 255, 255, 0.404);
    display: flex;
}
.options{
    width:30%;
    background-color: rgb(255, 176, 30);
}

.options a{
    color: rgb(255, 176, 30);
}
.options a:hover{
    background-color: rgb(255, 176, 30);
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.prod{
    display: flex;
    padding: 20px;
}
.tab{
    width: 60%;
}
.prod{
    display: flex;
    justify-content: space-between;
}
.actions{
    margin-left: 300px;
    width: 400px;
}
.actions a{
    color: white;
}
.actions a:hover{
    background-color: rgb(255, 176, 30);
    font-weight: bolder;
    color: white;
}

.pform{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 70%;
    margin-left: 200px;
    border-radius: 10px;
    color: white;
    background-color:rgb(255, 176, 30)  ;
}
.second{
    margin-left: 20px;
}
.dash-welcome{
    background-color: rgb(255, 176, 30);
    text-align: center;
    color: white;
}