*{
    font-family: monospace;

}
body{
    background-image: url('images/a3c0f386ec1dd2a7754c97cbb0c53b66-700.jpg');
}
.main-body{
    min-height:500px;
    padding: 16px;
}
header{
    background-color: rgb(255, 176, 30);
    color: white;
    
}
header a{
    color: white;
    margin-top: 20px;
    padding: 20px;

}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo a{
    color: rgba(255, 255, 255, 0.932);
}
.logo a:hover{
    color: white;
}
.mybtn{
    background-color: rgb(255, 175, 71);
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px;
}

.mybtn:hover{
    background-color: white;
    color: tomato;
}
nav{
    text-align: center;
    background-color:  rgb(255, 176, 30);
    padding: 12px;
}
.index{
    background-color: rgba(255, 179, 80, 0.781);
    color: white;
    padding: 200px;
    border-bottom-right-radius: 300px;
}
.about{
    display: flex;
    padding: 20px;
    
}
.box{
    width: 30%;
    background-color: rgba(255, 255, 255, 0.342);
    margin: 30px;
    color: white;
}
.form{
    margin: auto;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    color: white;
    background-color:rgb(255, 176, 30);
}
footer{
    background-color: rgb(255, 176, 30);
    color: white;
    padding: 25px;
}
.form a{
    color: white;
}

th{
    background-color:rgb(255, 176, 30);
    border: none;
    color:white;       
}
td{
    color: white;
    background-color: rgb(255, 176, 30);
}
li{
list-style-type: none;
}
input{
    color: rgb(255, 176, 30);
}

.search{
    color: white;
    padding: 30px;
}
.menu{
    width: 60%;
}

.form-control{
    background-color: coral;
    color: white;

}

.list-group-item{
    background-color: rgb(255, 176, 30);
}